.logo {
    width: 75px;
    scale: 2.5;
    margin-left: 10vh;
}

.carousel-inner > .carousel-item > img {
    height: 100vh; 
}

.servicos{
    margin: 0 auto;
}

.servicos > .card{
    width: 20vw;
}

.row {
    padding: 25px;
}

.modelos {
    display: flex;
    flex-direction: column;
    align-items: center;
}