.logo {
    width: 75px;
    scale: 2.5;
    margin-left: 10vh;
}

.carousel-inner > .carousel-item > img {
    height: 90vh; 
}

.servicos{
    margin: 0 auto;
}

.servicos > .card{
    width: 20vw;
}

.card-servicos {
    font-weight: bolder;
    color: #f2f3f3;
}

.row {
    padding: 25px;
}

.modelos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vw;
}

.card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.card-img-overlay > p {
    font-family: serif;
    font-size: larger;
}

.card-img-overlay > h5 {
    font-weight: bolder;
    font-size: xx-large;
}   



.titulo > h3 {
    font-weight: 600;
    font-size:8vh;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #212529;
    color: #fff;
    padding: 5vh;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 991.98px) and (min-width: 641px) {
    .carousel-inner > .carousel-item > img {
        height: 80vh; 
    }
}

@media screen and (max-width: 640px) {
    .carousel-inner > .carousel-item > img {
        height: 80vh; 
    }
}